# === LLM Provider ===
# Chọn "openai" hoặc "gemini"
LLM_PROVIDER=openai

OPENAI_API_KEY=..
# Model mặc định
LLM_MODEL=gpt-5-nano

# === Embedding ===
# Chọn "openai" hoặc "local" (sentence-transformers)
EMBEDDING_PROVIDER=openai

# Model sentence-transformers nếu dùng local embedding
# LOCAL_EMBEDDING_MODEL=paraphrase-multilingual-MiniLM-L12-v2
